venv_annarchy
cifar-10-batches-py
annarchy
_pycache_
*.keras
*.h5
ResNet.py
SNN_toolbox_INI.py
SNN_toolbox_brian2.py
*.Identifier
keras_model.py
ANNarchyCIFAR_v10.ipynb
ANNarchyCIFAR_v11.ipynb
ANNarchyCIFAR_v18.ipynb